// ========== footer =============
.page__footer
	.main-footer
		.container
			.main-footer__top.clearfix
				ul.footer-menu
					li: a(href="#") Инструкция
					li: a(href="#") Консультация специалиста
					li: a(href="#") Статьи
					li: a(href="#") Регистрация
				.fl-right
					p.footer-phone
						i.fa 
						span (834-2) 
						span 312-712
					a(href="#").entry-form.btn.btn--white-bd Запись на прием
			.main-footer__bot.clearfix.blocks-justify
				a(href="/").logo-footer
					img(src="img/footer-logo.png", alt="MEDRM")
				.copyright
					p © 2013 - 2017 Портал пациента Обратная связь По вопросам размещения рекламы: <a href="mailto:info@medrm.ru">info@medrm.ru</a>
				.counters 
					img(src="img/counters.jpg", alt="")

// ========== footer end =========
