// ============= header =============
.page__header
	.container
		.main-header.clearfix
			.row
				.col-lg-3.col-md-12
					figure.logo
						a(href="/").logo__img
							img(src="img/logo.png", alt="MEDRM")
						figcaption.logo__desc
							span.name MEDRM
							span Портал пациента Республики Мардовия
				.col-lg-9.col-md-12
					.main-header__top.clearfix
						ul.header-menu
							li: a(href="#") Инструкция
							li: a(href="#") Консультация специалиста
							li: a(href="#") Статьи
							li: a(href="#") Регистрация
						.user-panel.fl-right
							a(href="#").user-panel__account
								i.fa 
								span Кабинет
							a(href="#").user-panel__help
								i.fa 
								span Справка
					.main-header__bottom.clearfix
						ul.header-time
							li
								span.day Пн — Пт
								span.time 8:30 — 21:00
							li
								span.day Сб — Вс
								span.time 10:00 — 16:00
						.fl-right
							p.header-phone
								i.fa 
								span (834-2) 
								span 312-712
							a(href="#", data-toggle="modal", data-target="#enroll").entry-form.btn.btn--blue-bd Запись на прием
// ============= header end =============



