//- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
<script type="text/javascript" src="//vk.com/js/api/openapi.js?137"></script>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
script(src='js/core.js')
script(src='js/main.js')