extends _template

block main
	.container
		// ==============  banner ==============
		.banner
			img(src="img/banner-horizontal.jpg", alt="")
		// ============ banner end =============
		include includes/breadcrumbs
	main.page__main.mb
		.container
			.row
				.col-md-8
					.info-block.article-body
						h1 Как подготовить ребенка к посещению стоматолога
						img(src="img/article-image.jpg", alt="")
						p Первое посещение стоматолога обязательно должно быть профилактическим! Это необходимо для того, чтобы в будущем, когда у ребенка все таки заболит зуб он не боялся стоматолога.
						p При первом профилактическом осмотре врач произведет осмотр полости рта и молочных зубов и психологически подготовит малыша к тому, что это все таки не страшно и не больно! Ребенок при первом посещении должен привыкнуть к белому халату и стоматологическому креслу, а сам детский стоматолог всегда превратит осмотр в какую либо игру, что немаловажно для маленького человечка.
						p Лучше всего если вашего ребенка будет наблюдать один врач. Так он сможет привыкнуть к доктору, даже в какой то степени с ним подружиться и при первых навыках зубной боли не боятся его посещения.
						p И если все таки ваш ребенок находится в кресле у стоматолога, то ему все таки лучше сообщить какие манипуляции необходимы произвести врачу. Если не внушать страх ребенку ( а как правило сами же родители сильно боятся стоматологов), то ваш малыш и думать о плохом не станет и сообщите ему, что все неприятные ощущения со временем уйдут как после любой болячки. Не нужно настраивать детей на боль, страх и ужас, ведь в наше время работы ведутся на новейшем оборудовании, используются современные материалы и лучшие методы обезболивания.
						p Каждый должен посещать врача хотя бы раз в полгода, а ребенку так у него молочные зубки, которые не сменились еще на постоянные нужно еще чаще быть у стоматолога с профилактической целью и конечно для консультации и необходимых рекомендаций. И если не запускать развитие кариеса, чистить зубы и во время посещать доктора, то у ребенка не будет страха перед походом к стоматологу ведь профилактические походы не вызывают болезненных ощущений.
						p А если все же у доктора было немного больно и неприятно, то сгладить это можно чем то интересным, игрушкой к примеру, после лечения.
				.col-md-4
					.info-block.info-block--bd-blue.mb
						ul.right-nav
							li: a(href="#")
								i.fo 
								span Задайте вопрос специалисту
							li: a(href="#")
								i.fo 
								span Мониторинг времени ожидания приема врача
					.ta-center
						img(src="img/reklama-koHb.jpg", alt="").mb
						img(src="img/google-da-right.jpg", alt="")
						p Поделиться с друзьями
						.ya-share2(data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj" data-size="s")
	.container.mb
		.banner
			img(src="img/yandex-big.jpg", alt="")
	.container
		.row
			.col-md-4
				img(src="img/yandex-small.jpg", alt="").img-responsive
			.col-md-4
				<div id="vk_groups"></div>
			.col-md-4
				<div id="ok_group_widget"></div>